.cli-window {
    padding: 1rem;
    height: 100%;
    width: 100%;
    padding-bottom: 5rem;
    background-color: #252525;

    div[name="react-console-emulator"] {
        height: 100%;
        overflow: auto;
        background-color: transparent !important;
    }
}