.window {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    background-color: black;
    border-radius: 0.75rem;
    overflow: hidden;
    color: white;

    .nav {
        padding: 0.5rem 0.75rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.24);

        .dots {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            cursor: pointer;

            .dot {
                width: 15px;
                height: 15px;
                background-color: #fff;
                border-radius: 50%;
            }

            .red {
                background-color: #FF6057;
            }

            .yellow {
                background-color: #FFBE2F;
            }

            .green {
                background-color: #27C93F;
            }
        }
    }

    .main-content {
        height: 100%;
    }

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }

}