* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-image: url('/mac-wallpaper.jpg');
    background-size: cover;
    overflow: hidden;
    position: relative;
}

body {
    background-color: black;
}